<md-toolbar *ngIf="shouldPrompt" class="prompt" color="accent">
  <h2 class="prompt__text">
    <a routerLink="/signup" md-button>SIGNUP</a>
    <span>and save your progress!</span>
    <button md-icon-button (click)="onClosePrompt()">
      <md-icon>close</md-icon>
    </button>
  </h2>
</md-toolbar>

<nav class="map">
  <ul class="map__list">
    <li
      *ngFor="let level of levels; let i=index"
      class="map__item level"
      [class.level--locked]="level.locked"
      [class.level--perfect]="scores[i] === '100%'"
      [class.level--fail]="scores[i] === '0%'"
    >
      <div class="level__badges">
        <re-badge
          [locked]="!badges[i][0]"
          [level]="i"
          type="a"
          class="level__badge"
        ></re-badge>
        <re-badge
          [locked]="!badges[i][1]"
          [level]="i"
          type="b"
          class="level__badge"
        ></re-badge>
      </div>

      <div class="level__desc">
        <h4 class="level__name">{{level.name}}</h4>
        <span
          *ngIf="scores[i]"
          class="level__score"
        >Highscore: {{scores[i]}}</span>
      </div>

      <div class="level__links">
        <a
          [routerLink]="['/revision', level.difficulty]"
          class="level__link level__link--revision"
          [class.level__link--locked]="level.locked"
          mdTooltip="Revision"
          [mdTooltipShowDelay]="200"
        ><md-icon>{{level.locked ? 'lock' : 'border_color'}}</md-icon></a>
        <a
          [routerLink]="['/exam', level.difficulty]"
          class="level__link level__link--exam"
          [class.level__link--locked]="level.locked"
          mdTooltip="Exam"
          [mdTooltipShowDelay]="200"
        ><md-icon>{{level.locked ? 'lock' : 'assignment_late'}}</md-icon></a>
        <a
          [routerLink]="['/competition', level.difficulty]"
          class="level__link level__link--competition"
          [class.level__link--locked]="level.locked"
          mdTooltip="Competition"
          [mdTooltipShowDelay]="200"
        ><md-icon>{{level.locked ? 'lock': 'group'}}</md-icon></a>
      </div>
    </li>
  </ul>
</nav>
