:host {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.competition {
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
}

.competition__question,
.competition__actions,
.competition__title,
.competition__subtitle {
  text-align: center;
}

.competition__info {
  display: flex;
}

.competition__test {
  flex: 1;
}

.competition__player,
.competition__opponent {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

.competition__name {
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
}

.competition__progress {
  pointer-events: none;
  cursor: initial;
  flex: 1;
  margin: 8px 0 16px;
}
