:host {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.competition {
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
}

.competition__actions,
.competition__title,
.competition__subtitle {
  text-align: center;
}
