<md-card class="competition">
  <ng-container *ngIf="!started">
    <md-card-title>
      <h3 class="competition__title">Competition</h3>
    </md-card-title>
    <md-card-subtitle>
      <h4 class="competition__subtitle">{{level.name}}</h4>
    </md-card-subtitle>
  </ng-container>

  <md-card-content *ngIf="started; else question">
    <section class="competition__info">
      <re-test
        [test]="test"
        (hit)="onHit($event)"
        (miss)="onMiss($event)"
        class="competition__test"
      ></re-test>

      <section class="competition__player">
        <h4 class="competition__name">You</h4>
        <md-slider
          [max]="100"
          [min]="0"
          [step]="10"
          [value]="playerScore"
          [vertical]="true"
          color="primary"
          class="competition__progress competition__progress--player"
        ></md-slider>
      </section>

      <section class="competition__opponent">
        <h4 class="competition__name">{{opponentName}}</h4>
        <md-slider
          [max]="100"
          [min]="0"
          [step]="10"
          [value]="opponentScore"
          [vertical]="true"
          [color]="opponentName === 'Alice' ? 'warn' : 'accent'"
          class="competition__progress competition__progress--opponent"
        ></md-slider>
      </section>
    </section>

    <re-answer-history [histories]="histories"></re-answer-history>
  </md-card-content>

  <ng-template #question>
    <md-card-content>
      <p class="competition__question">Who do you want to play against?</p>
    </md-card-content>
  </ng-template>

  <md-card-actions class="competition__actions">
    <ng-container *ngIf="!started; else surrender">
      <button
        (click)="onStart('Alice')"
        md-raised-button
        color="warn"
      >ALICE</button>

      <button
        (click)="onStart('Bob')"
        md-raised-button
        color="accent"
      >BOB</button>
    </ng-container>

    <ng-template #surrender>
      <button
        (click)="onSurrender()"
        md-raised-button
        color="warn"
      >SURRENDER</button>
    </ng-template>
  </md-card-actions>
</md-card>
