.secondary-nav {
  flex: 1;
}

.secondary-nav,
.main-nav,
.auth-nav {
  display: flex;
}

.spinner {
  width: 36px;
  height: 36px;
}

.logo {
  font-family: "Roboto Mono", monospace;
}

.overflow-menu {
  display: none;
}

@media (max-width: 768px) {
  .secondary-nav,
  .auth-nav {
    display: none;
  }

  .main-nav {
    flex: 1;
  }

  .overflow-menu {
    display: block;
  }
}
