<md-toolbar color="primary">
  <nav class="main-nav">
    <a
      md-button
      routerLink="/"
      class="logo"
    >^Regex\sClas&#123;2&#125;room$</a>
  </nav>
  <nav class="secondary-nav">
    <a md-button routerLink="/cheatsheet">
      <span>CHEATSHEET&nbsp;</span>
      <md-icon>assignment</md-icon>
    </a>
  </nav>

  <nav class="auth-nav">
    <ng-container *ngIf="user && user.name; else login">
      <a md-button routerLink="/profile">Welcome, {{user.name}}</a>
      <a md-button routerLink="/leaderboard">
        <span>LEADERBOARD&nbsp;</span>
        <md-icon>equalizer</md-icon>
      </a>
      <button
        md-button
        (click)="logout()"
        *ngIf="!isLoggingOut; else loader"
      >
        <span>LOGOUT&nbsp;</span>
        <md-icon>exit_to_app</md-icon>
      </button>
      <ng-template #loader>
        <md-spinner color="accent" class="spinner"></md-spinner>
      </ng-template>
    </ng-container>

    <ng-template #login>
      <a md-button routerLink="/login">LOGIN</a>
      <a md-button routerLink="/signup">SIGNUP</a>
    </ng-template>
  </nav>

  <nav class="overflow-menu">
    <md-menu #menu="mdMenu">
      <button md-menu-item routerLink="/cheatsheet">Cheatsheet</button>

      <ng-container *ngIf="user && user.name; else loginMenu">
        <button md-menu-item routerLink="/profile">Profile</button>
        <button md-menu-item routerLink="/leaderboard">Leaderboard</button>
        <button
          md-menu-item
          (click)="logout()"
          [disabled]="isLoggingOut"
        >Logout</button>
      </ng-container>

      <ng-template #loginMenu>
        <button md-menu-item routerLink="/login">Login</button>
        <button md-menu-item routerLink="/signup">Signup</button>
      </ng-template>
    </md-menu>

    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </nav>
</md-toolbar>
