:host {
  display: block;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height .15s cubic-bezier(.4, 0, .2, 1);
  position: fixed;
  z-index: 100;
  box-shadow:
    0 3px 5px -1px rgba(0,0,0,.2),
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12);
}

:host(.show) {
  max-height: 64px;
}

.secondary-nav {
  flex: 1;
}

.secondary-nav,
.main-nav,
.auth-nav {
  display: flex;
}

.spinner {
  width: 36px;
  height: 36px;
}

.logo {
  font-family: "Roboto Mono", monospace;
}

.overflow-menu {
  display: none;
}

@media (max-width: 768px) {
  .secondary-nav,
  .auth-nav {
    display: none;
  }

  .main-nav {
    flex: 1;
  }

  .overflow-menu {
    display: block;
  }
}
