<md-toolbar color="primary">
  <nav class="main-nav">
    <a md-button routerLink="/">^Regex\sClas&#123;2&#125;room$</a>
    <a md-button routerLink="/cheatsheet">CHEATSHEET</a>
  </nav>

  <nav class="auth-nav">
    <ng-container *ngIf="user && user.name; else login">
      <a md-button>Welcome, {{user.name}}</a>
      <button
        md-button
        (click)="logout()"
        *ngIf="!isLoggingOut; else loader"
      >LOGOUT</button>
      <ng-template #loader>
        <md-spinner color="accent" class="spinner"></md-spinner>
      </ng-template>
    </ng-container>

    <ng-template #login>
      <a md-button routerLink="/login">LOGIN</a>
      <a md-button routerLink="/signup">SIGNUP</a>
    </ng-template>
  </nav>
</md-toolbar>
