<h3 md-dialog-title>{{title}}</h3>
<md-dialog-content class="content">
  <header class="header">{{header}}</header>
  <main class="main">
    <table class="table">
      <tbody>
        <tr class="table__row">
          <th class="table__col table__col--first">Hits</th>
          <td class="table__col table__col--second">
            {{nHit}} ({{hitRate}}%)
          </td>
        </tr>
        <tr class="table__row">
          <th class="table__col table__col--first">Misses</th>
          <td class="table__col table__col--second">
            {{nMiss}} ({{missRate}}%)
          </td>
        </tr>
        <tr class="table__row">
          <th class="table__col table__col--first">Response time</th>
          <td class="table__col table__col--second">{{averageTime}}s</td>
        </tr>
      </tbody>
    </table>
  </main>
  <footer class="footer">{{footer}}</footer>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-button md-dialog-close>TRY AGAIN</button>
  <button routerLink="/map" md-button md-dialog-close>BACK TO MAP</button>
</md-dialog-actions>
