<md-card class="exam">
  <ng-container *ngIf="!started">
    <md-card-title>
      <h3 class="exam__title">Exam</h3>
    </md-card-title>
    <md-card-subtitle>
      <h4 class="exam__subtitle">{{level.name}}</h4>
    </md-card-subtitle>
  </ng-container>

  <md-card-content *ngIf="started">
    <re-test [test]="test" (hit)="onHit($event)" (miss)="onMiss($event)"></re-test>
    <re-answer-history [histories]="histories"></re-answer-history>
  </md-card-content>

  <md-card-actions class="exam__actions">
    <button
      (click)="onStart()"
      *ngIf="!started"
      md-raised-button
      color="accent"
    >START</button>
  </md-card-actions>
</md-card>
