:host {
  display: inline-block;
  width: 48px;
  height: 48px;
}

.badge {
  width: 100%;
  height: 100%;
  transition: transform .15s cubic-bezier(.4, 0, .2, 1);

  &:hover {
    transform: scale(1.2);
  }
}

.badge__inner-ribbon {
  stroke-width: 11;
  stroke: #333;
  fill: #333;
}

.badge__outer-ribbon {
  stroke-width: 5;
  stroke: #666;
  fill: #666;
}

.badge__background-line {
  stroke-width: 25;
}

.badge__background {
  stroke-width: 15;
}

:host(.locked) {
  pointer-events: none;

  .badge__outer-ribbon,
  .badge__inner-ribbon {
    stroke: #b8b6b0;
    fill: #b8b6b0;
  }
}
