:host {
  display: inline-block;
  width: 72px;
  height: 72px;
}

.badge {
  width: 100%;
  height: 100%;
  transition: transform .15s cubic-bezier(.4, 0, .2, 1);

  &:hover {
    transform: scale(1.2);
  }
}

.badge__ribbon,
.badge__circle {
  stroke: #fff;
}

$types: (a, rgb(227, 148, 179)), (b, rgb(165, 199, 236));
@each $type, $color in $types {
  .badge--type-#{$type} {
    .badge__ribbon--front {
      fill: $color;
    }
    .badge__ribbon--back {
      fill: darken($color, 5%);
    }
  }
}

$levels:
  (0, rgb(171, 79, 69)),
  (1, rgb(146, 189, 193)),
  (2, rgb(63, 63, 59)),
  (3, rgb(48, 108, 103)),
  (4, rgb(81, 94, 120)),
  (5, rgb(74, 144, 226)),
  (6, rgb(215, 31, 75)),
  (7, rgb(222, 188, 133)),
  (8, rgb(153, 152, 149)),
  (9, rgb(235, 160, 104));
@each $level, $color in $levels {
  .badge--level-#{$level} {
    .badge__star {
      fill: $color;
      stroke: lighten($color, 5%);
    }
    .badge__circle {
      fill: lighten($color, 5%);
    }
  }
}

$disable-color: #b8b6b0;
.badge--locked {
  pointer-events: none;

  .badge__star,
  .badge__circle,
  .badge__ribbon {
    fill: $disable-color;
    stroke: $disable-color;
  }
}
