<ng-container *ngIf="levelList$ | async as levels">
  <re-accordion *ngFor="let level of levels" class="accordion">
    <h3 accordionToggle class="accordion__toggle">{{level.name}}</h3>
    <table class="table">
      <tbody>
        <tr *ngFor="let test of level.tests" class="table__row">
          <td class="table__data table__data--first">
            <code class="regex">{{test.answer}}</code>
          </td>
          <td class="table__data table__data--second">{{test.question}}</td>
        </tr>
      </tbody>
    </table>
  </re-accordion>
</ng-container>
