:host {
  display: flex;
  min-width: 0;
  width: 100%;
  flex-direction: column;
  min-height: 100%;
}

.main {
  margin-top: 64px;
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* align with NavComponent that uses md-toolbar */
@media (max-width: 600px) {
  .main {
    margin-top: 56px;
  }
}
